<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            background-color: rgba(228, 223, 234, 0.659);
            color: #6b6b6b;

        }
        .container{
            margin: 10% auto;
            width: fit-content;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="message">{{ message }}</h1>
    </div>
</body>
</html>