
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Sign In</title>
</head>
<body>
    <div class="container">
       
        <h2 class="intro">9ja Chat</h2>
        <p class="error">*Pass word does not match * Username already exist</p>        
        <form action="" class="register-form" method="post">
            {% csrf_token%}
            <input type="text" placeholder="Username" required class="input-val" name="username"><br>
            <!-- <input type="email" placeholder="Email" required class="input-val"><br> -->
            <input type="password" id="" required placeholder="password" class="input-val" name="password"><br>
            <input type="submit" value="Sign In" class="signup"><br>

            <div class="question">
                <span><a href="/account/password_reset/">Forget password ?</a></span>
            </div><br>
            <div class="question">
                <p>Need an account ?  <span><a href="/account/register/">Sign Up</a></span></p>
            </div>
        </form>
    </div>
</body>
</html>