{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Password Reset</title>
</head>
<body>
    <div class="container">   
        <h2 class="intro">9ja Chat</h2>
        <p class="error">*Almost there fill out the form below </p>        
        <form action="" class="register-form" method="post">
            {% csrf_token%}
            {{ form }}
            <input type="submit" value="Reset Password" class="signup"><br>
        </form>
    </div>
</body>
</html>