{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
       
        <h2 class="intro">9ja Chat</h2>
        <p class="error">*Pass word does not match * Username already exist</p>        
        <form  class="register-form" method="post">
            {% csrf_token%}
            <input type="text" placeholder="Username" required class="input-val" name="username"><br>
            <input type="email" placeholder="Email" required class="input-val" name="email"><br>
            <input type="password" name="password1" id="" required placeholder="password" class="input-val" name="password1"><br>
            <input type="password" name="password2" id="" required placeholder="confirm password" class="input-val" name="password2"><br>
            <input type="submit" value="Sign Up" class="signup"><br>

            <div class="question">
                <p>Already have an account ?  <span><a href="/account/login/">Sign In</a></span></p>
            </div>
        </form>
    </div>
</body>
</html>